{% extends 'base.html' %}

{% block title %}Experience{% endblock title %}
{% load static %}

{% block content %}
<section class="experience-section center-column">
    <h2>Experience | Education </h2>

    <div class="experience-list">

        <div class="experience-card">
            <p>San Diego Global knowledge University</p>
            <p>Full-Stack Development</p>
            <p>A 7-month course that goes over numeruos languages/programs that are involved in full-stack development.</p>
            <p>August 2023 - March 2024</p>
        </div>

        <div class="tags-container center">
            <label>Django</label>
            <label>Javascript</label>
            <label>React</label>
        </div>


        <div class="experience-card">
            <p>Platt College San Diego</p>
            <p>A.A.S Graphic Design</p>
            <p>Learned to become proficient in Adobe programs and learned the art of design in order to turn ideas into visuals.</p>
            <p>February 2022 - May 2023</p>
        </div>

        <div class="tags-container center">
            <label>Illustrator</label>
            <label>Photoshop</label>
            <label>InDesign</label>
        </div>

        <div class="experience-card">
            <p>Fresh Interest LLC</p>
            <p>Lead Generation/SEO</p>
            <p>Rank & rent websites to small business owners</p>
            <p>January 2021 - December 2021</p>
        </div>

        <div class="tags-container center">
            <label>Ahrefs</label>
            <label>Mongols</label>
            <label>Wordpress</label>
        </div>

    </div>

</section>

{% endblock %}